<a href="https://colab.research.google.com/github/JurijJusel/Image/blob/t6-dir-reader/apple_banana_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
from operator import itemgetter
import csv
import cv2
import numpy as np
import matplotlib.pyplot as plt
import os
from sklearn.model_selection import train_test_split

In [2]:
from google.colab import files
from IPython.display import Image

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
apple_banana_train_path = '/content/drive/MyDrive/Colab Notebooks/dataset/train'

In [6]:
image_url = []
folder_name=[]
for file_path, folders, files in os.walk(apple_banana_train_path):
  for file in files:
      full_path = os.path.join(file_path, file)
      image_url.append(full_path)
      direct = file_path.split('/')[7:]
      folder_name.append('/'.join(direct))

In [7]:
folder_name_df = pd.DataFrame(folder_name, columns=['name'])
img_path_df = pd.DataFrame(image_url,columns=['image_path'] )
df = pd.concat([folder_name_df, img_path_df], axis=1)
df.to_csv('/content/drive/MyDrive/Colab Notebooks/apple_banana.csv', index=False)

In [8]:
apple_banana_df = '/content/drive/MyDrive/Colab Notebooks/apple_banana.csv'

In [10]:
read_apple_banana_df = pd.read_csv(apple_banana_df)
read_apple_banana_df.info()
# read_apple_banana_df.describe()
read_apple_banana_df.head()
# read_apple_banana_df.apply(lambda x: x.upper())
# read_apple_banana_df.tail(3)  # paskutiniai 3 eilutes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        143 non-null    object
 1   image_path  143 non-null    object
dtypes: object(2)
memory usage: 2.4+ KB

    name                                         image_path
0  apple  /content/drive/MyDrive/Colab Notebooks/dataset...
1  apple  /content/drive/MyDrive/Colab Notebooks/dataset...
2  apple  /content/drive/MyDrive/Colab Notebooks/dataset...
3  apple  /content/drive/MyDrive/Colab Notebooks/dataset...
4  apple  /content/drive/MyDrive/Colab Notebooks/dataset...

In [38]:
read_apple_banana_df['image_path']

0      /content/drive/MyDrive/Colab Notebooks/dataset...
1      /content/drive/MyDrive/Colab Notebooks/dataset...
2      /content/drive/MyDrive/Colab Notebooks/dataset...
3      /content/drive/MyDrive/Colab Notebooks/dataset...
4      /content/drive/MyDrive/Colab Notebooks/dataset...
                             ...
138    /content/drive/MyDrive/Colab Notebooks/dataset...
139    /content/drive/MyDrive/Colab Notebooks/dataset...
140    /content/drive/MyDrive/Colab Notebooks/dataset...
141    /content/drive/MyDrive/Colab Notebooks/dataset...
142    /content/drive/MyDrive/Colab Notebooks/dataset...
Name: image_path, Length: 143, dtype: object

In [ ]:
for line in range(len(read_apple_banana_df)):
    line_path=read_apple_banana_df['image_path']

In [ ]:
image_lst=[]
folder_name=[]
for line in line_path:
    # print(line)
    img_path = cv2.imread(line)
    direct = line.split('/')[7:8]
    folder_name.append('/'.join(direct))
    img = plt.imread(line)
    gray_img = cv2.cvtColor(img_path, cv2.COLOR_RGB2GRAY)
    img_resized = cv2.resize(gray_img, (122,122))
    img_array = np.array(img_resized)
    image_gray_lst=[item for sublist in img_array for item in sublist]
    image_lst.append(image_gray_lst)

In [ ]:
img_data_df = pd.DataFrame(image_lst)
name_df = pd.DataFrame(folder_name, columns=['image_name'])
apple_banana_df_grey = pd.concat([img_data_df, name_df], axis=1)
apple_banana_df_grey.to_csv('/content/drive/MyDrive/Colab Notebooks/apple_banana_grey_df.csv', index=False)

In [22]:
apple_banana_grey_df = '/content/drive/MyDrive/Colab Notebooks/apple_banana_grey_df.csv'
read_df = pd.read_csv(apple_banana_grey_df)
# read_df.info()
# read_df.describe()
# read_df.head()
read_df
# read_df.tail(3)  # paskutiniai 3 eilutes

,0,1,2,3,4,5,6,7,8,9,...,14875,14876,14877,14878,14879,14880,14881,14882,14883,image_name
0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,apple
1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,apple
2,-122,-121,-123,126,-126,-120,-118,-117,-118,-121,...,-18,-29,-37,-42,-43,-33,-51,-41,-44,apple
3,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,apple
4,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,apple
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,banana
139,-76,-68,-61,-42,-32,-43,-54,-53,-79,-82,...,-102,-2,-1,-1,-1,-1,-1,-1,-1,banana
140,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,banana
141,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,banana
142,-58,-56,-56,-56,-56,-56,-56,-56,-56,-56,...,-57,-57,-57,-57,-57,-57,-57,-57,-60,banana

In [11]:
# from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [23]:
read_df['image_name']

0       apple
1       apple
2       apple
3       apple
4       apple
        ...
138    banana
139    banana
140    banana
141    banana
142    banana
Name: image_name, Length: 143, dtype: object

In [27]:
#making instance of labelencoder()
le = LabelEncoder()
encoded = le.fit_transform(read_df['image_name'])
print(encoded)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [30]:
# removing the original column 'Purchased' from df
read_df.drop('image_name', axis=1, inplace=True)
 
# Appending the array to our dataFrame
read_df['image_name'] = encoded
# printing Dataframe
read_df

,0,1,2,3,4,5,6,7,8,9,...,14875,14876,14877,14878,14879,14880,14881,14882,14883,image_name
0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
2,-122,-121,-123,126,-126,-120,-118,-117,-118,-121,...,-18,-29,-37,-42,-43,-33,-51,-41,-44,0
3,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
4,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
139,-76,-68,-61,-42,-32,-43,-54,-53,-79,-82,...,-102,-2,-1,-1,-1,-1,-1,-1,-1,1
140,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,1
141,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
142,-58,-56,-56,-56,-56,-56,-56,-56,-56,-56,...,-57,-57,-57,-57,-57,-57,-57,-57,-60,1

In [31]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, y_train, y_test = train_test_split(read_df,read_df, test_size=0.33, random_state=42)

In [35]:
X_train

,0,1,2,3,4,5,6,7,8,9,...,14875,14876,14877,14878,14879,14880,14881,14882,14883,image_name
25,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
23,8,8,8,9,9,9,9,9,9,9,...,123,-121,-115,-106,-112,-104,-107,-110,-115,0
115,33,34,36,35,39,45,51,48,39,38,...,77,75,75,74,73,72,71,68,68,1
67,-6,-5,-6,-5,-4,-4,-6,-66,59,-45,...,16,12,17,6,45,50,40,24,16,0
44,35,35,35,35,35,35,35,35,35,35,...,-68,-69,-69,-68,-70,-70,-70,-70,-70,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
106,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
92,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
102,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1

In [36]:
X_test

,0,1,2,3,4,5,6,7,8,9,...,14875,14876,14877,14878,14879,14880,14881,14882,14883,image_name
117,110,101,78,41,116,48,57,72,62,21,...,76,72,77,73,71,72,67,77,74,1
19,112,116,118,122,120,-126,126,124,126,120,...,90,92,91,73,80,77,76,77,76,0
82,50,49,45,33,26,33,30,27,34,38,...,-119,-77,-68,-69,98,126,16,126,31,1
97,-4,-4,-4,-4,-4,-4,-4,-4,-4,-4,...,-4,-4,-4,-4,-4,-4,-4,-4,-4,1
56,45,37,45,117,-76,-60,-122,72,45,40,...,57,56,55,66,62,68,71,79,86,0
12,-14,-13,-13,-13,-14,-13,-13,-13,-13,-12,...,-9,-11,-10,-10,-8,-8,-8,-7,-8,0
131,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
65,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
66,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-101,-101,-101,-101,-101,-101,-101,-101,-101,0
18,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
51,93,114,94,93,91,93,108,100,124,108,...,22,36,29,29,27,47,30,29,41,0
78,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
94,72,61,69,77,70,86,75,72,71,85,...,68,71,71,71,75,64,69,69,65,1
132,-103,-103,-108,-105,-109,-72,-61,-85,-103,-106,...,50,48,44,41,54,52,55,76,99,1
100,-1,-1,-1,-1,-1,-1,-5,-1,-29,95,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
64,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
27,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
69,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
125,-85,-85,-85,-85,-85,-85,-85,-85,-85,-85,...,-85,-85,-85,-85,-85,-85,-85,-85,-85,1
73,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,0,0,0,0,0,0,118,126,-128,-124,...,116,126,-127,0,0,0,0,0,0,0
119,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
110,37,21,29,39,31,21,25,49,30,21,...,28,38,27,27,28,28,31,31,35,1
113,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
55,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,117,114,114,113,116,115,112,115,115,114,...,59,82,62,33,43,46,44,48,96,0
9,-12,-13,-13,-13,-14,-13,-12,-13,-11,-12,...,-8,-8,-8,-8,-8,-8,-8,-8,-8,0
4,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
26,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
124,-1,-1,-1,-1,-1,-2,-1,-1,-2,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
31,79,69,-127,116,103,105,59,77,63,71,...,74,110,100,97,76,-122,84,66,-60,0
98,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,-17,-17,-14,-17,-15,-17,-20,-19,-17,-19,...,-4,-3,-4,-3,-6,-5,-6,-4,-6,0
10,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
93,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
111,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
42,72,73,72,76,73,77,81,78,76,74,...,14,23,25,23,22,21,22,17,11,0
118,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
127,44,38,33,33,35,34,34,34,34,34,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,1
96,-84,-84,-84,-84,-82,-83,-82,-82,-81,-81,...,-70,-85,-74,-81,-89,-89,-90,-87,-77,1
60,43,33,33,32,31,29,33,33,61,111,...,71,87,85,84,77,92,-125,73,27,0
0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
84,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
28,-94,66,59,58,111,125,107,127,91,81,...,48,65,117,110,43,113,112,62,96,0
40,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
86,-61,-64,-77,-84,-81,-80,-65,-56,-51,-50,...,105,106,108,109,110,111,112,113,116,1
24,33,15,13,19,58,52,11,10,10,7,...,13,17,19,14,16,10,12,15,16,0

In [37]:
y_train

,0,1,2,3,4,5,6,7,8,9,...,14875,14876,14877,14878,14879,14880,14881,14882,14883,image_name
25,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
23,8,8,8,9,9,9,9,9,9,9,...,123,-121,-115,-106,-112,-104,-107,-110,-115,0
115,33,34,36,35,39,45,51,48,39,38,...,77,75,75,74,73,72,71,68,68,1
67,-6,-5,-6,-5,-4,-4,-6,-66,59,-45,...,16,12,17,6,45,50,40,24,16,0
44,35,35,35,35,35,35,35,35,35,35,...,-68,-69,-69,-68,-70,-70,-70,-70,-70,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
106,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
92,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
102,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1

In [38]:
y_test

,0,1,2,3,4,5,6,7,8,9,...,14875,14876,14877,14878,14879,14880,14881,14882,14883,image_name
117,110,101,78,41,116,48,57,72,62,21,...,76,72,77,73,71,72,67,77,74,1
19,112,116,118,122,120,-126,126,124,126,120,...,90,92,91,73,80,77,76,77,76,0
82,50,49,45,33,26,33,30,27,34,38,...,-119,-77,-68,-69,98,126,16,126,31,1
97,-4,-4,-4,-4,-4,-4,-4,-4,-4,-4,...,-4,-4,-4,-4,-4,-4,-4,-4,-4,1
56,45,37,45,117,-76,-60,-122,72,45,40,...,57,56,55,66,62,68,71,79,86,0
12,-14,-13,-13,-13,-14,-13,-13,-13,-13,-12,...,-9,-11,-10,-10,-8,-8,-8,-7,-8,0
131,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
65,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
66,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-101,-101,-101,-101,-101,-101,-101,-101,-101,0
18,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
51,93,114,94,93,91,93,108,100,124,108,...,22,36,29,29,27,47,30,29,41,0
78,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
94,72,61,69,77,70,86,75,72,71,85,...,68,71,71,71,75,64,69,69,65,1
132,-103,-103,-108,-105,-109,-72,-61,-85,-103,-106,...,50,48,44,41,54,52,55,76,99,1
100,-1,-1,-1,-1,-1,-1,-5,-1,-29,95,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
64,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
27,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
69,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
125,-85,-85,-85,-85,-85,-85,-85,-85,-85,-85,...,-85,-85,-85,-85,-85,-85,-85,-85,-85,1
73,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,0,0,0,0,0,0,118,126,-128,-124,...,116,126,-127,0,0,0,0,0,0,0
119,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
110,37,21,29,39,31,21,25,49,30,21,...,28,38,27,27,28,28,31,31,35,1
113,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
55,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,117,114,114,113,116,115,112,115,115,114,...,59,82,62,33,43,46,44,48,96,0
9,-12,-13,-13,-13,-14,-13,-12,-13,-11,-12,...,-8,-8,-8,-8,-8,-8,-8,-8,-8,0
4,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
26,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
124,-1,-1,-1,-1,-1,-2,-1,-1,-2,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
31,79,69,-127,116,103,105,59,77,63,71,...,74,110,100,97,76,-122,84,66,-60,0
98,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,-17,-17,-14,-17,-15,-17,-20,-19,-17,-19,...,-4,-3,-4,-3,-6,-5,-6,-4,-6,0
10,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
93,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
111,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
42,72,73,72,76,73,77,81,78,76,74,...,14,23,25,23,22,21,22,17,11,0
118,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
127,44,38,33,33,35,34,34,34,34,34,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,1
96,-84,-84,-84,-84,-82,-83,-82,-82,-81,-81,...,-70,-85,-74,-81,-89,-89,-90,-87,-77,1
60,43,33,33,32,31,29,33,33,61,111,...,71,87,85,84,77,92,-125,73,27,0
0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
84,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
28,-94,66,59,58,111,125,107,127,91,81,...,48,65,117,110,43,113,112,62,96,0
40,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
86,-61,-64,-77,-84,-81,-80,-65,-56,-51,-50,...,105,106,108,109,110,111,112,113,116,1
24,33,15,13,19,58,52,11,10,10,7,...,13,17,19,14,16,10,12,15,16,0